In [1]:
import numpy as np
import pandas as pd
import os
from itertools import chain, combinations

In [2]:
def powerset(iterable):
    "powerset([1,2,3]) --> () (1,) (2,) (3,) (1,2) (1,3) (2,3) (1,2,3)"
    s = list(iterable)
    return chain.from_iterable(combinations(s, r) for r in range(len(s) + 1))

In [4]:
df = pd.read_csv('final.csv')
df

,Unnamed: 0,County_Name,population,pop_below_poverty,pct_below_poverty,Earnings by place of work,Employee and self-employed contributions for government social insurance,Employer contributions for employee pension and insurance funds 8,Employer contributions for government social insurance,Equals: Net earnings by place of residence,...,Employment_Transportation_Equipment_Manufacturing,Employment_Transportation_and_Warehousing,Employment_Truck_Transportation,Employment_Utilities,Employment_Warehousing_and_Storage,Employment_Waste_Management_and_Remediation_Services,Employment_Water_Transportation,Employment_Wholesale_Electronic_Markets_and_Agents_and_Brokers,Employment_Wholesale_Trade,Employment_Wood_Product_Manufacturing
0,0,Accomack County,"32,325","6,141",19.00%,1119986,67460,181644,129706,858335,...,NaN,114.0,57.0,168.0,NaN,NaN,NaN,NaN,130.0,NaN
1,1,Albemarle County,"100,293","9,142",9.10%,8516598,503727,1099244,847618,6196611,...,NaN,682.0,65.0,NaN,9.0,76.0,NaN,24.0,447.0,154.0
2,2,Alleghany County,"14,830","2,925",19.70%,501496,38180,65423,58456,412284,...,NaN,18.0,15.0,NaN,NaN,NaN,NaN,NaN,27.0,96.0
3,3,Amelia County,"12,861","1,375",10.70%,170244,13804,19010,15622,353626,...,NaN,104.0,41.0,NaN,NaN,NaN,NaN,3.0,117.0,117.0
4,4,Amherst County,"30,994","4,327",14.00%,469950,38937,64076,49606,661161,...,NaN,282.0,228.0,NaN,NaN,NaN,NaN,NaN,175.0,48.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,100,Portsmouth city,"91,156","15,312",16.80%,4430689,246547,849649,514532,2223456,...,319.0,1807.0,365.0,66.0,NaN,236.0,NaN,3.0,594.0,NaN
101,101,Richmond city,"216,099","50,200",23.20%,14931755,881642,1780724,1531298,7437338,...,9.0,4809.0,2326.0,4678.0,220.0,488.0,NaN,42.0,4202.0,43.0
102,102,Roanoke city,"97,449","20,240",20.80%,4663469,291624,554444,539960,2261475,...,349.0,4007.0,837.0,674.0,802.0,153.0,NaN,39.0,3244.0,NaN
103,103,Suffolk city,"89,418","9,267",10.40%,2388109,156009,292172,262554,3043349,...,NaN,2375.0,258.0,NaN,1982.0,32.0,NaN,16.0,1207.0,NaN
104,104,Virginia Beach city,"439,531","32,183",7.30%,14300231,867009,1825039,1544850,16247369,...,415.0,1943.0,656.0,614.0,84.0,312.0,NaN,253.0,3857.0,41.0

In [5]:
cols = ['pop_below_poverty','pct_below_povery']

In [11]:
x = powerset(df)

In [17]:
[i for i in powerset(df.loc[:,df.columns]) if len(i) < 10]

MemoryError: